/* Write your CSS here */
.appointment-list {
  border: 1px #b5b7c4 solid;
  border-radius: 7px;
  margin-left: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.appointment-list div h1 {
  padding: 0;
  margin: 0;
  font-size: 25px;
}
.appointment-list div {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appointment-list p {
  padding: 10px;
}
.star {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
}
